<header class="header">
    <nav class="navbar">
        <div class="navbar-container">
            <a href="index.html" class="logo">Seva'w'Coffee</a>
            
            <!-- Desktop Menu -->
            <ul class="nav-menu">
                <li><a href="index.html" class="nav-link">Главная</a></li>
                <li><a href="games.html" class="nav-link">Игры</a></li>
                <li><a href="books.html" class="nav-link">Книги</a></li>
                <li><a href="music.html" class="nav-link">Музыка</a></li>
                <li><a href="art.html" class="nav-link">Арты</a></li>
            </ul>
            
            <!-- Mobile Menu Button -->
            <div class="hamburger">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </nav>
</header>
